# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local

# IDE
.idea/
.vscode/

# Playwright & Debugging
bilibili_debug.html
*.log
